<br/>
<a href="json://id.html" style="text-decoration:none;"> <span class="channel"> <div class="align-left text-left">
                                    <img alt="Guild Icon"
                                         class="align-content-center align-self-start d-inline img-fluid img-rounded justify-content-center rounded-circle" src="json://icon_url"
                                         style="display: inline; vertical-align: middle; width: 3em; height: 3em;">
                                    <p style="display: inline; vertical-align: middle;"> <b>json://name</b></p>
                                    <button class="btn btn-dark" type="button">
                                        Members
                                        <span class="badge badge-primary">json://members</span>
                                    </button>
                                </div> </span></a>