<span class="card-body well"> <div class="align-left text-left">
                        <img alt="Owner Icon "
                             class="align-content-center align-self-start d-inline img-fluid img-rounded justify-content-center rounded-circle" src="json://author/avatar_url"
                             style="display: inline; vertical-align: middle;">
                        <p style="color: json; display: inline; vertical-align: middle;"> <b>json://author/name#json://author/tag</b></p>
                    </div> <p>
                        json://content_display  </p></span>